<style>
.main{
    background-color: #74c5b4;
    height: 710px;
    text-align: center;
}

label{
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 80pt;
    color:#081310;
}

.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
    background-color: #12638d;
    border-radius: 6px;
    border: 2px solid #0016b0;
}


</style>

<div class="main">
    <br>
    <label >WELCOME TO </label>
    <br>
    <label >DOTS AND LINES</label>
    <br><br><br><br><br><br>
    <form method="get" action="/modoJuego">
        <input type='submit' value='Iniciar' class="button">
    </form>
</div>
