<style>
.main {
  background-color: #07beb8  ;
  height: 710px;
}

.tittle{
    font-family:Bradley Hand, cursive;
    font-size: 60pt;
    color:  #047471;
    margin-left:20%;
}

.juego{
    font-family:Verdana, sans-serif;
    font-size: 20pt;
    color: #20553d ;
}

.boton {
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: #9b09ef;
    border-radius: 6px;
    border: 2px solid #06a6a0;
    margin-left:2px;
  }

</style>

<div class="main">
    <br><br>
    <label class="tittle">MODALIDAD DE JUEGO</label>
    <br><br><br><br><br><br>
    <form method="post" action="/redireccionJugadores">
        <center><label class="juego">tamaño del tablero:</label>
        <input class="boton" type='submit' name='selection' value='3X3'>
        <input class="boton" type='submit' name='selection' value='4X4'>
        <input class="boton" type='submit' name='selection' value='5X5'>
        <input class="boton" type='submit' name='selection' value='6X6'>
        <input class="boton" type='submit' name='selection' value='7X7'></center>
        <br><br>
    </form>
</div>