<style>
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  width:50;
  height:50;
  }

  h1{ 
    position : relative;
    bottom: 31px;
    left: -6px;  
  }

  table.border-top:hover{
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  .topBorder:hover{
    border-top: solid;
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  .jugador{
    font-family:Verdana, sans-serif;
    font-size: 10pt;
    color:  #344c60;
    margin-left:10%
  }

  .tittle{
    font-family:Bradley Hand, cursive;
    font-size: 60pt;
    color:  #e3a18e;
    margin-left:30%
  }
</style>


<div class="main">
  <label class="tittle" >DOTS AND LINAS</label>
  
  
  <br><br><br><br>
  <div class="jugador"> 
    <%  if @jugador1.turno() %>
      <label class= "visible">Es turno de:</label>
      <% else %>
      <label class= "escondido">Es turno de:</label>
    <% end %>
    <br>
    <label>Primer Jugador:  <%= @jugador1.nombre() %></label>
  </div>
  <div>
    <h1>hola</h1>
  </div>
  <br>
  <div class="jugador">
    <%  if @jugador2.turno() %>
      <label class= "visible">Es turno de:</label>
      <% else %>
      <label class= "escondido">Es turno de:</label>
    <% end %>
    <br>
    <label>Segundo Jugador: <%= @jugador2.nombre() %></label>
  </div>
  <br><br>
   
   <% cont=0 %>
  <table id="tabla" name="tabla" style align="center" width= "50%" height="50%";>
    <%= @tabla %>
      
  </table>  
  <br><br>
  <form method="post" action="/mostrarJugada">
      <label>Ingrese la fila:</label>
      <input type='text' name='fila' id='fila'>
      <label>Ingrese la columna:</label>
      <input type='text' name='columna' id='columna'>
      
      <input type='submit' name='selection' value='Arriba'>
      <input type='submit' name='selection' value='Abajo'>
      <input type='submit' name='selection' value='Izquierda'>
      <input type='submit' name='selection' value='Derecha'>
  </form>
  
</div>
